VITE_OPERATOR_NAME=
VITE_SUPPORT_EMAIL=
VITE_MAILING_ADDRESS=
VITE_EFFECTIVE_DATE=
VITE_BACKUP_RETENTION_DAYS=30
VITE_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_API_FUNCTION_ID=diary-api
VITE_LEGAL_REVIEWED=false
